* {
  box-sizing: border-box;
}

html,
body,
#app {
	margin: 0;
	height: 100%;
  width: 100%;
}

p,
h1 {
  margin: 0;
}

#app {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 100px;
}


/* HEADER */

#header {
  width: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  transform: translateY(0px);
  opacity: 1;
  transition: all 0.4s 0s ease-in-out;

  .close-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    position: relative;
    z-index: 5;

    > div {
      &:first-child,
      &:last-child {
        width: 30%;
        min-width: 310px;
      }

      &:first-child {
        text-align: left;
        padding-left: 5%;
        opacity: 0;
        animation: headerLeft 0.8s 0.5s ease-in-out forwards;

        h1,
        > span {
          display: inline-block;
          vertical-align: middle;
        }

        > span {
          width: 30px;
          height: 21px;
          position: relative;
          cursor: pointer;
          margin-right: 15px;

          span {
            width: 110%;
            height: 3px;
            max-width: 100%;
            background: #000;
            display: block;
            position: absolute;
            left: 0;
            opacity: 0;
            transition: all 0.4s ease-in-out;

            @for $i from 1 through 3 {
              &:nth-child(#{$i}) {
                animation: burgerAnim 0.4s $i * 0.1s + 1.5s cubic-bezier(0.56, 0.28, 0.46, 1.17) forwards;
                // transition: all 0.2s $i * 0.1s ease-in-out;
              }
            }

            &:first-child {
              top: 0;
            }

            &:first-child + span {
              top: 9px;
            }

            &:last-child {
              bottom: 0;
              max-width: 30%;
            }
          }

          &:hover {
            span {
              &:first-child {
                // max-width: 30%;
              }

              &:last-child {
                bottom: 0;
                max-width: 100%;
              }
            }
          }
        }
      }

      &:last-child {
        text-align: right;
        padding-right: 5%;
        opacity: 0;
        animation: headerRight 0.8s 0.5s ease-in-out forwards;
      }

      h1 {
        font-size: 20px;
        line-height: 1;
      }

      p {
        font-size: 20px;
      }

      h1, p {
        font-weight: 700;
        font-family: $mainFont, 'Arial';
      }

      &#logo {
        a {
          max-width: 150px;
          min-width: 50px;
          width: 30%;
          height: 50px;
          display: block;
          margin: auto;
          position: relative;

          span {
            position: absolute;

            .border-left-side-logo {
              background: #000;

              &:first-child {
                top: 0;
                right: 0;
                width: 100%;
                height: 3px;
                max-width: 0;
                animation: maxWidth 0.4s 1.2s ease-in-out forwards;
              }

              &:nth-child(2) {
                left: 0;
                top: 0;
                width: 3px;
                height: 100%;
                max-height: 0;
                animation: maxHeight 0.4s 1.6s ease-in-out forwards;
              }

              &:nth-child(3) {
                bottom: 0;
                left: 0;
                width: 100%;
                height: 3px;
                max-width: 0;
                animation: maxWidth 0.4s 2s ease-in-out forwards;
              }
            }

            .border-right-side-logo {
              background: #000;

              &:first-child {
                top: 0;
                left: 0;
                width: 100%;
                height: 3px;
                max-width: 0;
                animation: maxWidth 0.4s 1.2s ease-in-out forwards;
              }

              &:nth-child(2) {
                right: 0;
                top: 0;
                width: 3px;
                height: 100%;
                max-height: 0;
                animation: maxHeight 0.4s 1.6s ease-in-out forwards;
              }

              &:nth-child(3) {
                bottom: 0;
                right: 0;
                width: 100%;
                height: 3px;
                max-width: 0;
                animation: maxWidth 0.4s 2s ease-in-out forwards;
              }
            }

            .letter-logo {
              text-align: center;
              font-family: $mainFont;
              font-weight: 700;
              color: #000;
              opacity: 0;
            }

            &#left-side-logo,
            &#right-side-logo {
              transition: all 0.4s ease-in-out;

              .letter-logo {
                transition: all 0.4s ease-in-out;
              }
            }

            &#left-side-logo {
              width: calc(50% - 1.5px);
              height: 80%;
              left: 0;
              top: 0;

              .letter-logo {
                top: 4px;
                left: 7px;
                animation: letterAppearTop 0.4s 2.4s ease-in-out forwards;
              }
            }

            &#middle-logo {
              width: 3px;
              height: 100%;
              top: calc(50%);
              left: calc(50% - 1.5px);
              background: #000;
              max-height: 0;
              animation: centerLogo 0.4s 0.8s ease-in-out forwards;
            }

            &#right-side-logo {
              width: calc(50% - 1.5px);
              height: 80%;
              right: 0;
              bottom: 0;

              .letter-logo {
                bottom: 6px;
                left: 6px;
                animation: letterAppearBot 0.4s 2.4s ease-in-out forwards;
              }
            }
          }
        }

        &:hover {
          #left-side-logo {
            transform: translateY(5px);

            .letter-logo {
              top: 8px;
            }
          }

          #right-side-logo {
            transform: translateY(-5px);

            .letter-logo {
              bottom: 8px;
            }
          }
        }
      }
    }
  }

  // LOGO ANIMATION

  @keyframes centerLogo {
    100% {
      transform: translateY(-50%);
      max-height: 100%;
    }
  }

  @keyframes maxWidth {
    100% {
      max-width: 100%;
    }
  }

  @keyframes maxHeight {
    100% {
      max-height: 100%;
    }
  }

  @keyframes letterAppearTop {
    0% {
      opacity: 0;
      transform: translateY(-5px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes letterAppearBot {
    0% {
      opacity: 0;
      transform: translateY(5px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  // HEADER APPARITION
  @keyframes headerLeft {
    0% {
      opacity: 0;
      transform: translateX(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes headerRight {
    0% {
      opacity: 0;
      transform: translateX(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  // BURGER ANIMATION
  @keyframes burgerAnim {
    0% {
      opacity: 0;
      transform: translateX(-15px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .open-menu {
    opacity: 0;
    transform: translateY(-100px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: all 0.4s 1s cubic-bezier(0.19, 1, 0.22, 1);
    background: #fff;
    height: 100%;

    > div {
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 10%;
    }

    #burger-menu-close,
    ul {
      display: inline-block;
      vertical-align: middle;
    }

    #burger-menu-close {
      margin-right: 8%;
      height: 21px;
      width: 30px;
      position: relative;
      cursor: pointer;

      span {
        position: absolute;
        width: 100%;
        height: 3px;
        background: #000;
        top: 50%;
        transition: all 0.4s ease-in-out;

        &:first-child {
          left: 0;
          transform: rotate(45deg) translateX(-15px);
          opacity: 0;
        }

        &:last-child {
          right: 0;
          transform: rotate(-45deg) translateX(15px);
          opacity: 0;
        }
      }
    }

    ul {
      padding: 0;
      margin: 0;
      width: 100%;

      li {
        display: inline-block;
        vertical-align: middle;
        list-style-type: none;
        margin-right: 8%;

        &:last-child {
          margin: 0;
        }

        a {
          text-decoration: none;
          color: #000;
          font-family: $mainFont;
          font-size: 20px;
          font-weight: 700;
          transform: translateY(-15px);
          opacity: 0;
          display: block;
          position: relative;

          &::before,
          &::after {
            content: "";
            position: absolute;
            height: 3px;
            width: 50%;
            max-width: 0;
            transition: all 0.4s ease-in-out;
            bottom: -5px;
            background: #000;
          }

          &::before {
            right: 50%;
          }

          &::after {
            left: 50%;
          }

          &:hover,
          &.active {
            &::before,
            &::after {
              max-width: 50%;
            }
          }
        }

        @for $j from 1 through 4 {
          &:nth-child(#{$j}) a {
            transition: all 0.4s $j * 0.2s ease-in-out;
          }
        }
      }
    }
  }

  &.leave {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0s 0.5s;
  }

  &.active {
    .open-menu {
      opacity: 1;
      transform: translateY(0);
      transition: all 0.4s ease-in-out;

      ul {
        li {
          a {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }

      #burger-menu-close {
        span {
          &:first-child {
            transform: rotate(45deg) translateX(0);
            opacity: 1;
          }

          &:last-child {
            transform: rotate(-45deg) translateX(0);
            opacity: 1;
          }
        }

        &:hover {
          span {
            &:first-child {
              transform: rotate(45deg) translateX(-3px);
            }

            &:last-child {
              transform: rotate(-45deg) translateX(3px);
            }
          }
        }
      }
    }
  }
}

// LOADING

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: all 0.5s ease-in-out;

  p {
    text-align: center;
  }

  &.active {
    opacity: 1;
  }
}

// RESPONSIVE

@media screen and (max-width: 650px) {
  #header .close-menu > div:first-child h1 {
    display: none;
  }

  #header .close-menu > div:last-child {
    width: 1px;
    opacity: 0;
  }

  #header .close-menu {
    height: 92px;

    #logo {
      position: absolute;
      left: calc(50% - 25px);
    }
  }

  #header {
    .open-menu ul li,
    .open-menu ul li:last-child {
      width: 48%;
      margin: 0 0 5px 0;

      a {
        display: inline-block;
      }
    }
  }

  body .home .diapo-container .diapo-overflow .project-home .project-home-center a {
    margin-top: 38px;
    position: relative;
    left: -3%;
  }

  body .home .diapo-container .nav {
    bottom: 12px;
  }

  .home {
    min-height: 550px;
  }
}
