/* FONTS */

$mainFont: "sofia-pro", sans-serif;
$secondFont: "ff-tisa-web-pro";

/* COLORS */

$pink: #e2a39a;
$textColor: #1b313f;

/* PROJECTS COLORS */

// NOOKE
$nookeMain: #e2a39a;
$nookeSecond: #d17373;

// SNCF
$sncfMain: #850058;

// FLORILEGE
$florilegeMain: #cea888;
