<!-- About Template -->

<div class="about">
  <div class="about-container">
    <div class="about-photo">
      <h3>{{ about.title }}</h3>

      <div>
        <span class="about-photo-border">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </span>

        <img v-bind:src="about.featured_image.source" alt="Clémence Taillez">
      </div>

      <p>Hello !</p>
    </div>

    <span class="link-text">
      <span></span>
    </span>

    <div class="about-content-text isNot">
      <p class="intro">I’m Clémence Taillez, a french 22-year old interactive designer, based in Paris.</p>

      <p class="content-text">
        {{{ about.content }}}
      </p>

      <div class="skills">
        <a href="#" target="_blank"><img src="../assets/img/dribble.png" alt="Dribble"></a>
        <a href="#" target="_blank"><img src="../assets/img/behance.jpg" alt="Behance"></a>
        <a href="#" target="_blank"><img src="../assets/img/linkedin.png" alt="LinkedIn"></a>
      </div>

      <div class="cv-contact">
        <div>
          <a href="#" id="cv-button">CV</a>
          <a href="#" id="say-button">Say Hello !</a>
        </div>
      </div>

      <p>All works Copyright © 2016 Clémence Taillez</p>
    </div>

    <p id="thanks">My portfolio has been developped by <a href="http://leobrossault.fr" target="_blank">Léo Brossault</a>. Thank you !</p>

    <div class="parallax-el">
      <span id="parallax-el-first" data-translation="0"></span>
      <span id="parallax-el-second" data-translation="0"></span>
      <span id="parallax-el-third" data-translation="0"></span>
      <span id="parallax-el-fourth" data-translation="0"></span>
    </div>
  </div>
</div>
