.home { height: 80%; }

.home .diapo-container { position: relative; overflow: hidden; width: 100%; height: 100%; }

.home .diapo-container .diapo-overflow { position: absolute; left: 0; top: 0; height: 100%; }

.home .diapo-container .diapo-overflow .project-home { display: inline-block; vertical-align: middle; height: 100%; }

.home .diapo-container .diapo-overflow .project-home .project-home-center { width: 100%; height: 70%; margin: auto; position: relative; }

.home .diapo-container .diapo-overflow .project-home .project-home-center .borders { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }

.home .diapo-container .diapo-overflow .project-home .project-home-center .project-home-content { background: red; }

.home .diapo-container .diapo-overflow .project-home.current .project-home-center { width: 60%; }

.home .diapo-container .diapo-overflow .project-home.current .project-home-center .borders { height: 100%; }

.home .diapo-container .diapo-overflow .project-home.current .project-home-center .borders span { position: absolute; background: #000; }

.home .diapo-container .diapo-overflow .project-home.current .project-home-center .borders span:first-child { left: 0; height: 90%; width: 2px; bottom: 0; }

.home .diapo-container .diapo-overflow .project-home.current .project-home-center .borders span:nth-child(2) { right: 0; height: 2px; width: 70%; top: 11px; }

.home .diapo-container .diapo-overflow .project-home.current .project-home-center .borders span:nth-child(3) { right: 0; bottom: 0; width: 2px; height: calc(100% - 11px); }

.home .diapo-container .diapo-overflow .project-home.current .project-home-center .borders span:last-child { bottom: 0; right: 0; width: 100%; height: 2px; }
