/* FONTS */
/* COLORS */
/* PROJECTS COLORS */
* { box-sizing: border-box; }

html, body, #app { margin: 0; height: 100%; width: 100%; }

p, h1 { margin: 0; }

/* HEADER */
#header { width: 100%; position: relative; overflow: hidden; }

#header .close-menu { width: 100%; display: flex; align-items: center; justify-content: space-between; padding: 15px 0; position: relative; z-index: 5; }

#header .close-menu > div:first-child, #header .close-menu > div:last-child { width: 30%; min-width: 310px; }

#header .close-menu > div:first-child { text-align: left; padding-left: 10%; }

#header .close-menu > div:first-child h1, #header .close-menu > div:first-child > span { display: inline-block; vertical-align: middle; }

#header .close-menu > div:first-child > span { width: 30px; height: 21px; position: relative; cursor: pointer; margin-right: 15px; }

#header .close-menu > div:first-child > span span { width: 100%; height: 3px; background: #000; display: block; position: absolute; left: 0; }

#header .close-menu > div:first-child > span span:nth-child(1) { transition: all 0.4s 0.2s ease-in-out; }

#header .close-menu > div:first-child > span span:nth-child(2) { transition: all 0.4s 0.4s ease-in-out; }

#header .close-menu > div:first-child > span span:nth-child(3) { transition: all 0.4s 0.6s ease-in-out; }

#header .close-menu > div:first-child > span span:first-child { top: 0; }

#header .close-menu > div:first-child > span span:first-child + span { top: 9px; }

#header .close-menu > div:first-child > span span:last-child { bottom: 0; }

#header .close-menu > div:first-child > span:hover span { transform: scale(1.1); }

#header .close-menu > div:last-child { text-align: right; padding-right: 10%; }

#header .close-menu > div h1 { font-size: 20px; line-height: 1; }

#header .close-menu > div p { font-size: 20px; }

#header .close-menu > div h1, #header .close-menu > div p { font-weight: 700; font-family: "sofia-pro", sans-serif, "Arial"; }

#header .close-menu > div#logo a { max-width: 150px; min-width: 50px; width: 30%; display: block; margin: auto; }

#header .close-menu > div#logo a img { max-width: 100%; }

#header .open-menu { opacity: 0; transform: translateY(-100px); position: absolute; top: 0; left: 0; width: 100%; z-index: 10; transition: all 0.4s 1s ease-in-out; background: #fff; height: 100%; }

#header .open-menu > div { height: 100%; display: flex; align-items: center; padding-left: 10%; }

#header .open-menu #burger-menu-close, #header .open-menu ul { display: inline-block; vertical-align: middle; }

#header .open-menu #burger-menu-close { margin-right: 15px; height: 21px; width: 30px; position: relative; cursor: pointer; }

#header .open-menu #burger-menu-close span { position: absolute; width: 100%; height: 3px; background: #000; top: 50%; }

#header .open-menu #burger-menu-close span:first-child { transform: rotate(45deg); left: 0; }

#header .open-menu #burger-menu-close span:last-child { transform: rotate(-45deg); right: 0; }

#header .open-menu ul { padding: 0; margin: 0; width: 100%; }

#header .open-menu ul li { display: inline-block; vertical-align: middle; list-style-type: none; margin-right: 8%; }

#header .open-menu ul li:last-child { margin: 0; }

#header .open-menu ul li a { text-decoration: none; color: #000; font-family: "sofia-pro", sans-serif; font-size: 20px; font-weight: 700; transform: translateY(-15px); opacity: 0; display: block; position: relative; }

#header .open-menu ul li a::before, #header .open-menu ul li a::after { content: ""; position: absolute; height: 3px; width: 50%; max-width: 0; transition: all 0.4s ease-in-out; bottom: -5px; background: #000; }

#header .open-menu ul li a::before { right: 50%; }

#header .open-menu ul li a::after { left: 50%; }

#header .open-menu ul li a:hover::before, #header .open-menu ul li a:hover::after, #header .open-menu ul li a.active::before, #header .open-menu ul li a.active::after { max-width: 50%; }

#header .open-menu ul li:nth-child(1) a { transition: all 0.4s 0.2s ease-in-out; }

#header .open-menu ul li:nth-child(2) a { transition: all 0.4s 0.4s ease-in-out; }

#header .open-menu ul li:nth-child(3) a { transition: all 0.4s 0.6s ease-in-out; }

#header .open-menu ul li:nth-child(4) a { transition: all 0.4s 0.8s ease-in-out; }

#header.active .open-menu { opacity: 1; transform: translateY(0); transition: all 0.4s ease-in-out; }

#header.active .open-menu ul li a { transform: translateY(0); opacity: 1; }

@media screen and (max-width: 650px) { #header .close-menu > div:first-child h1 { display: none; }
  #header .close-menu > div:last-child { width: 1px; opacity: 0; }
  #header .close-menu { height: 92px; }
  #header .close-menu #logo { position: absolute; left: calc(50% - 43px); }
  #header .open-menu ul li, #header .open-menu ul li:last-child { width: 48%; margin: 0 0 5px 0; }
  #header .open-menu ul li a, #header .open-menu ul li:last-child a { display: inline-block; }
  body .home .diapo-container .diapo-overflow .project-home .project-home-center a { margin-top: 38px; position: relative; left: -3%; }
  body .home .diapo-container .nav { bottom: 12px; }
  .home { min-height: 550px; } }

.home { height: 80%; transition: all 0.8s ease-in-out; opacity: 0; animation: appearHome 0.6s ease-in-out forwards; }

.home.leave-home { opacity: 1; animation: leaveHome 0.6s 0.4s ease-in-out forwards; }

.home.leave-home .prev-current { animation: prevLeaving 0.8s ease-in-out forwards; }

.home.leave-home .next-current { animation: nextLeaving 0.8s ease-in-out forwards; }

.home.leave-home .diapo-container .diapo-overflow .current.project-home .project-home-center .borders span:first-child { animation: leaveBorderCurrentHeight 0.3s ease-in-out forwards; }

.home.leave-home .diapo-container .diapo-overflow .current.project-home .project-home-center .borders span:nth-child(3) { animation: leaveBorderCurrentHeight 0.3s 0.3s ease-in-out forwards; }

.home.leave-home .diapo-container .diapo-overflow .current.project-home .project-home-center .borders span:nth-child(2) { animation: leaveBorderCurrentWidth 0.3s ease-in-out forwards; }

.home.leave-home .diapo-container .diapo-overflow .current.project-home .project-home-center .borders span:last-child { animation: leaveBorderCurrentWidth 0.3s 0.3s ease-in-out forwards; }

.home.load-home .prev-current { opacity: 0; animation: prevComing 0.8s 0.5s ease-in-out forwards; }

.home.load-home .next-current { opacity: 0; animation: nextComing 0.8s 0.5s ease-in-out forwards; }

.home.load-home .diapo-container .diapo-overflow .current.project-home .project-home-center .borders span:first-child, .home.load-home .diapo-container .diapo-overflow .current.project-home .project-home-center .borders span:nth-child(3) { max-height: 0; }

.home.load-home .diapo-container .diapo-overflow .current.project-home .project-home-center .borders span:nth-child(2), .home.load-home .diapo-container .diapo-overflow .current.project-home .project-home-center .borders span:last-child { max-width: 0; }

.home.load-home .diapo-container .diapo-overflow .current.project-home .project-home-center .borders span:first-child { animation: borderCurrentHeight 0.6s 1.1s ease-in-out forwards; }

.home.load-home .diapo-container .diapo-overflow .current.project-home .project-home-center .borders span:nth-child(3) { animation: borderCurrentHeight 0.6s 0.5s ease-in-out forwards; }

.home.load-home .diapo-container .diapo-overflow .current.project-home .project-home-center .borders span:nth-child(2) { animation: borderCurrentWidth 0.6s 1.1s ease-in-out forwards; }

.home.load-home .diapo-container .diapo-overflow .current.project-home .project-home-center .borders span:last-child { animation: borderCurrentWidth 0.6s 0.5s ease-in-out forwards; }

.home .diapo-container { position: relative; width: 100%; height: 100%; overflow: hidden; }

.home .diapo-container .diapo-overflow { position: absolute; left: 0; top: 0; height: 100%; transition: all 1s cubic-bezier(0.56, 0.28, 0.46, 1.17); }

.home .diapo-container .diapo-overflow .project-home { display: inline-block; vertical-align: middle; height: 100%; position: relative; top: 37px; }

.home .diapo-container .diapo-overflow .project-home.home-nooke .project-home-center a:hover { color: #e2a39a; }

.home .diapo-container .diapo-overflow .project-home.home-nooke .project-home-center a > span span { background: #e2a39a; }

.home .diapo-container .diapo-overflow .project-home.home-sncf .project-home-center a:hover { color: #850058; }

.home .diapo-container .diapo-overflow .project-home.home-sncf .project-home-center a > span span { background: #850058; }

.home .diapo-container .diapo-overflow .project-home.home-florilege .project-home-center a:hover { color: #cea888; }

.home .diapo-container .diapo-overflow .project-home.home-florilege .project-home-center a > span span { background: #cea888; }

.home .diapo-container .diapo-overflow .project-home.prev-current, .home .diapo-container .diapo-overflow .project-home.next-current { cursor: pointer; }

.home .diapo-container .diapo-overflow .project-home .project-home-center { width: 100%; height: 70%; margin: auto; position: relative; }

.home .diapo-container .diapo-overflow .project-home .project-home-center .prev-project-label, .home .diapo-container .diapo-overflow .project-home .project-home-center .next-project-label { position: absolute; top: 160px; font-family: "sofia-pro", sans-serif, "Arial"; opacity: 0; transition: all 0.4s ease-in-out; z-index: 9; width: 120px; }

.home .diapo-container .diapo-overflow .project-home .project-home-center .prev-project-label span, .home .diapo-container .diapo-overflow .project-home .project-home-center .next-project-label span { display: block; text-align: center; }

.home .diapo-container .diapo-overflow .project-home .project-home-center .prev-project-label span:first-child, .home .diapo-container .diapo-overflow .project-home .project-home-center .next-project-label span:first-child { color: #000; font-size: 14px; margin-bottom: 7px; }

.home .diapo-container .diapo-overflow .project-home .project-home-center .prev-project-label span:last-child, .home .diapo-container .diapo-overflow .project-home .project-home-center .next-project-label span:last-child { font-weight: 900; font-size: 19px; }

.home .diapo-container .diapo-overflow .project-home .project-home-center .prev-project-label::before, .home .diapo-container .diapo-overflow .project-home .project-home-center .next-project-label::before { content: ""; position: absolute; width: 60px; height: 2px; background: #000; top: 22px; max-width: 0; transition: all 0.4s ease-in-out; }

.home .diapo-container .diapo-overflow .project-home .project-home-center .prev-project-label { left: -140px; transform: translateX(25px); }

.home .diapo-container .diapo-overflow .project-home .project-home-center .prev-project-label::before { right: -60px; }

.home .diapo-container .diapo-overflow .project-home .project-home-center .next-project-label { right: -140px; transform: translateX(-25px); }

.home .diapo-container .diapo-overflow .project-home .project-home-center .next-project-label::before { left: -60px; }

.home .diapo-container .diapo-overflow .project-home .project-home-center .borders { position: absolute; left: -22px; top: -22px; width: 100%; height: 100%; }

.home .diapo-container .diapo-overflow .project-home .project-home-center h3 { font-family: "sofia-pro", sans-serif, "Arial"; font-weight: 900; font-size: 23px; position: absolute; left: 25px; top: 0; margin: 0; background: #fff; padding-right: 30px; transition: all 0.4s 0s ease-in-out; }

.home .diapo-container .diapo-overflow .project-home .project-home-center .project-home-content { height: 100%; position: relative; top: 0; }

.home .diapo-container .diapo-overflow .project-home .project-home-center .project-home-content .project-bg { width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 1; transition: all 1s ease-in-out; }

.home .diapo-container .diapo-overflow .project-home .project-home-center .project-home-content .project-home-img { height: 100%; position: relative; z-index: 5; display: flex; align-items: center; transition: all 1s ease-in-out; }

.home .diapo-container .diapo-overflow .project-home .project-home-center .project-home-content .project-home-img img { max-height: 80%; display: block; margin: auto; max-width: 80%; }

.home .diapo-container .diapo-overflow .project-home .project-home-center .project-home-content .project-number { position: absolute; bottom: -44px; right: 10%; font-size: 70px; font-weight: 100; font-family: "sofia-pro", sans-serif, "Arial"; opacity: 0; transform: translateY(15px); z-index: 5; transition: all 0.4s ease-in-out; }

.home .diapo-container .diapo-overflow .project-home .project-home-center a { width: 210px; display: block; margin: auto; margin-top: 50px; text-align: center; text-decoration: none; font-family: "sofia-pro", sans-serif, "Arial"; color: #000; border: 2px solid #000; padding: 11px 0; font-size: 15px; line-height: 1; position: relative; transition: all 0.4s ease-in-out; }

.home .diapo-container .diapo-overflow .project-home .project-home-center a > span { position: absolute; width: 100%; height: 100%; top: 0; left: 0; }

.home .diapo-container .diapo-overflow .project-home .project-home-center a > span span { position: absolute; }

.home .diapo-container .diapo-overflow .project-home .project-home-center a > span span:first-child { top: 3px; left: 3px; }

.home .diapo-container .diapo-overflow .project-home .project-home-center a > span span:nth-child(2) { left: 3px; top: 3px; }

.home .diapo-container .diapo-overflow .project-home .project-home-center a > span span:nth-child(3) { bottom: 3px; right: 3px; }

.home .diapo-container .diapo-overflow .project-home .project-home-center a > span span:last-child { bottom: 3px; right: 3px; }

.home .diapo-container .diapo-overflow .project-home .project-home-center a > span span:first-child, .home .diapo-container .diapo-overflow .project-home .project-home-center a > span span:nth-child(3) { width: 200px; height: 2px; max-width: 0; transition: all 0.4s 0.4s ease-in-out; }

.home .diapo-container .diapo-overflow .project-home .project-home-center a > span span:nth-child(2), .home .diapo-container .diapo-overflow .project-home .project-home-center a > span span:last-child { width: 2px; height: 29px; max-height: 0; transition: all 0.4s ease-in-out; }

.home .diapo-container .diapo-overflow .project-home .project-home-center a:hover { color: #e2a39a; }

.home .diapo-container .diapo-overflow .project-home .project-home-center a:hover > span span:first-child, .home .diapo-container .diapo-overflow .project-home .project-home-center a:hover > span span:nth-child(3) { max-width: 200px; transition: all 0.4s ease-in-out; }

.home .diapo-container .diapo-overflow .project-home .project-home-center a:hover > span span:nth-child(2), .home .diapo-container .diapo-overflow .project-home .project-home-center a:hover > span span:last-child { max-height: 29px; transition: all 0.4s 0.4s ease-in-out; }

.home .diapo-container .diapo-overflow .project-home .project-home-center { width: 80%; margin: 0; }

.home .diapo-container .diapo-overflow .project-home .project-home-center .borders { height: 100%; }

.home .diapo-container .diapo-overflow .project-home .project-home-center .borders span { position: absolute; background: #000; }

.home .diapo-container .diapo-overflow .project-home .project-home-center .borders span:first-child, .home .diapo-container .diapo-overflow .project-home .project-home-center .borders span:nth-child(2) { transition: all 0.6s 0s ease-in-out; }

.home .diapo-container .diapo-overflow .project-home .project-home-center .borders span:nth-child(3), .home .diapo-container .diapo-overflow .project-home .project-home-center .borders span:last-child { transition: all 0.4s 0.6s ease-in-out; }

.home .diapo-container .diapo-overflow .project-home .project-home-center .borders span:first-child { left: 0; height: 90%; width: 2px; bottom: 0; max-height: 0; }

.home .diapo-container .diapo-overflow .project-home .project-home-center .borders span:nth-child(2) { right: 0; height: 2px; width: 90%; top: 0; max-width: 0; }

.home .diapo-container .diapo-overflow .project-home .project-home-center .borders span:nth-child(3) { right: 0; bottom: 0; width: 2px; height: 100%; max-height: 0; }

.home .diapo-container .diapo-overflow .project-home .project-home-center .borders span:last-child { bottom: 0; right: 0; width: 100%; height: 2px; max-width: 0; }

.home .diapo-container .diapo-overflow .project-home .project-home-center .project-home-content { left: 0; }

.home .diapo-container .diapo-overflow .project-home.current { z-index: 99; }

.home .diapo-container .diapo-overflow .project-home.current .project-home-center h3 { transition: all 0.4s 1s ease-in-out; transform: translateY(-36px); }

.home .diapo-container .diapo-overflow .project-home.current .project-home-center .borders span:first-child, .home .diapo-container .diapo-overflow .project-home.current .project-home-center .borders span:nth-child(2) { transition: all 0.6s 1s ease-in-out; }

.home .diapo-container .diapo-overflow .project-home.current .project-home-center .borders span:nth-child(3), .home .diapo-container .diapo-overflow .project-home.current .project-home-center .borders span:last-child { transition: all 0.2s 0.8s ease-in-out; }

.home .diapo-container .diapo-overflow .project-home.current .project-home-center .borders span:first-child, .home .diapo-container .diapo-overflow .project-home.current .project-home-center .borders span:nth-child(3) { max-height: 100%; }

.home .diapo-container .diapo-overflow .project-home.current .project-home-center .borders span:last-child { max-width: 100%; }

.home .diapo-container .diapo-overflow .project-home.current .project-home-center .borders span:nth-child(2) { max-width: 80%; }

.home .diapo-container .diapo-overflow .project-home.current .project-home-center .project-home-content .project-number { transition: all 0.4s 0.8s ease-in-out; opacity: 1; transform: translateX(0); }

.home .diapo-container .diapo-overflow .project-home.prev-current:hover .project-home-center .next-project-label { transform: translateX(0px); opacity: 1; }

.home .diapo-container .diapo-overflow .project-home.prev-current:hover .project-home-center .next-project-label::before { max-width: 100%; transition: all 0.4s 0.2s ease-in-out; }

.home .diapo-container .diapo-overflow .project-home.next-current:hover .project-home-center .prev-project-label { transform: translateX(0px); opacity: 1; }

.home .diapo-container .diapo-overflow .project-home.next-current:hover .project-home-center .prev-project-label::before { max-width: 100%; transition: all 0.4s 0.2s ease-in-out; }

.home .diapo-container .diapo-overflow.project-page .prev-current, .home .diapo-container .diapo-overflow.project-page .next-current { z-index: 5; }

.home .diapo-container .diapo-overflow.project-page .current { z-index: 10; }

.home .diapo-container .diapo-overflow.project-page .current .project-home-center .project-home-content .project-bg { transform: scaleX(2) translateY(-10%); height: 130%; }

.home .diapo-container .diapo-overflow.project-page .current .project-home-center .project-home-content .project-home-img { transform: scale(1.3) translateY(10%); }

.home .diapo-container .diapo-overflow.project-page .current .project-home-center .project-home-content .project-number { opacity: 0; transform: translateY(15px); transition: all 1s ease-in-out; }

.home .diapo-container .diapo-overflow.project-page .current .project-home-center > a { opacity: 0; transform: translateY(15px); transition: all 1s ease-in-out; }

.home .diapo-container .diapo-overflow + .nav { opacity: 0; transform: translateY(15px); }

.home .diapo-container .nav { position: absolute; bottom: 3px; width: 100%; transition: all 1s ease-in-out; }

.home .diapo-container .nav > div { margin: auto; width: 300px; }

.home .diapo-container .nav .dot-nav { display: inline-block; vertical-align: middle; margin-right: 30px; width: 8px; height: 8px; border-radius: 100%; background: #000; position: relative; cursor: pointer; transition: all 0.4s ease-in-out; }

.home .diapo-container .nav .dot-nav:last-child { margin: 0; }

.home .diapo-container .nav .dot-nav::before { content: ""; position: absolute; width: 8px; height: 8px; border: 1px solid #e2a39a; border-radius: 100%; left: -1px; top: -1px; opacity: 0; transition: all 0.4s ease-in-out; }

.home .diapo-container .nav .dot-nav:hover, .home .diapo-container .nav .dot-nav.current { background: #e2a39a; }

.home .diapo-container .nav .dot-nav:hover::before, .home .diapo-container .nav .dot-nav.current::before { opacity: 1; width: 20px; height: 20px; transform: translate(-6px, -6px); }

@keyframes appearHome { 0% { transform: translateY(-30px);
    opacity: 0; }
  100% { transform: translateY(0);
    opacity: 1; } }

@keyframes leaveHome { 0% { transform: translateY(0);
    opacity: 1; }
  100% { transform: translateY(-30px);
    opacity: 0; } }

@keyframes prevComing { 0% { transform: translateX(-15%);
    opacity: 0; }
  100% { transform: translateX(0);
    opacity: 1; } }

@keyframes nextComing { 0% { transform: translateX(15%);
    opacity: 0; }
  100% { transform: translateX(0);
    opacity: 1; } }

@keyframes prevLeaving { 0% { transform: translateX(0);
    opacity: 1; }
  100% { transform: translateX(-15%);
    opacity: 0; } }

@keyframes nextLeaving { 0% { transform: translateX(0);
    opacity: 1; }
  100% { transform: translateX(15%);
    opacity: 0; } }

@keyframes borderCurrentWidth { 100% { max-width: 100%; } }

@keyframes borderCurrentHeight { 100% { max-height: 100%; } }

@keyframes leaveBorderCurrentWidth { 100% { max-width: 0%; } }

@keyframes leaveBorderCurrentHeight { 100% { max-height: 0%; } }

@media screen and (max-width: 900px) { .next-project-label, .prev-project-label { display: none; } }

@media screen and (max-width: 600px) { .home .diapo-container .diapo-overflow .project-home.prev-current, .home .diapo-container .diapo-overflow .project-home.next-current { opacity: 0; animation: none; }
  .home .diapo-container .diapo-overflow .project-home.current { position: relative; left: -2%; }
  .home .diapo-container .diapo-overflow .project-home.current .project-home-center { width: 100%; } }

#close-project { opacity: 0; transform: translateY(-20px); position: absolute; z-index: 99; right: 5%; top: 5%; width: 20px; height: 20px; overflow: hidden; pointer-events: none; transition: all 0.4s ease-in-out; }

.diapo-overflow.project-page + #close-project { opacity: 1; transform: translateY(0); pointer-events: auto; cursor: pointer; transition: all 0.4s 0.6s ease-in-out; }

.diapo-overflow.project-page + #close-project span { position: absolute; height: 2px; width: 100%; top: calc(50% - 1px); right: 0; background: #fff; max-width: 0; transition: max-width 0.2s 0.4s ease-in-out, transform 0.4s ease-in-out; }

.diapo-overflow.project-page + #close-project::before, .diapo-overflow.project-page + #close-project::after { content: ""; position: absolute; background: #fff; height: 100%; width: 2px; border-radius: 2px; top: 0; right: calc(50% - 1px); }

.diapo-overflow.project-page + #close-project::before { transform: rotate(45deg); }

.diapo-overflow.project-page + #close-project::after { transform: rotate(-45deg); }

.diapo-overflow.project-page + #close-project:hover { transform: translateY(0) scale(1.1); }

.diapo-overflow.project-page + #close-project:hover span { max-width: 100%; transform: translateX(-100%); transition: max-width 0.2s ease-in-out, transform 0.4s 0.2s ease-in-out; }

.project { width: 100%; margin-top: -15%; transition: all 0.4s ease-in-out; }

.project.leave-project { transform: translateY(100px); opacity: 0; }

.project > div { opacity: 0; }

.project .section-prez { width: 60%; margin: auto; background: #fff; padding: 60px 8% 100px 8%; animation: bottomToTopSection 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; }

.project .section-prez h4, .project .section-prez p { text-align: center; margin: 0; }

.project .section-prez h4 { font-family: "sofia-pro", sans-serif; font-weight: 700; font-size: 25px; letter-spacing: 0.08em; color: #1b313f; position: relative; opacity: 0; animation: bottomToTopSection 0.8s 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; }

.project .section-prez h4::after { content: ""; display: block; width: 30px; height: 2px; margin: auto; margin-top: 6px; }

.project .section-prez .project-type { font-family: "sofia-pro", sans-serif; font-weight: 300; color: #1b313f; font-size: 14px; margin: 10px 0 20px; opacity: 0; animation: bottomToTopSection 0.8s 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; }

.project .section-prez .project-description p { text-align: left; font-family: "ff-tisa-web-pro"; color: #1b313f; font-size: 18px; line-height: 1.6; opacity: 0; animation: bottomToTopSection 0.8s 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; }

.project .section-main-img.isIt { animation: bottomToTopSection 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; }

.project .section-main-img img { width: 50%; display: block; margin: auto; }

.project .section-all-img { width: 70%; margin: auto; background: #f5f5f5; opacity: 1; }

.project .section-all-img img { max-width: 100%; display: block; margin: auto; opacity: 0; }

.project .section-all-img img.isIt { animation: bottomToTopSection 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; }

.project .section-credits { width: 60%; margin: auto; padding: 60px 8% 50px 8%; background: #fff; }

.project .section-credits.isIt { animation: bottomToTopSection 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; }

.project .section-credits h5 { font-family: "sofia-pro", sans-serif; font-weight: 700; font-size: 18px; letter-spacing: 0.08em; color: #1b313f; margin: 0 0 30px 0; text-align: center; position: relative; opacity: 0; animation: bottomToTopSection 0.8s 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; }

.project .section-credits h5::after { content: ""; display: block; width: 15px; height: 2px; margin: auto; margin-top: 6px; }

.project .section-credits .credit-da, .project .section-credits .credit-dev { display: flex; flex-grow: 1; }

.project .section-credits .credit-da p, .project .section-credits .credit-dev p { margin: 0; color: #1b313f; font-size: 18px; font-family: "ff-tisa-web-pro"; line-height: 1.6; }

.project .section-credits .credit-da p:last-child, .project .section-credits .credit-dev p:last-child { padding-left: 5px; }

.project .section-credits .project-environment { text-align: center; color: #1b313f; font-size: 18px; line-height: 1.6; margin: 30px 0 35px; font-family: "ff-tisa-web-pro"; }

.project .section-credits .project-link { width: 35%; min-width: 150px; border: 2px solid #222222; color: #222222; font-family: "sofia-pro", sans-serif; text-align: center; display: block; margin: auto; padding: 10px 0; font-weight: 700; font-size: 14px; text-decoration: none; letter-spacing: 0.08em; transition: all 0.4s ease-in-out; }

.project .section-credits .project-link:hover { background: #222222; color: #fff; }

.project .section-credits .project-copyright { text-align: center; font-family: "sofia-pro", sans-serif; font-weight: 700; font-size: 14px; margin: 30px 0; letter-spacing: 0.08em; }

.project .next-project { width: 100%; height: 200px; }

.project .next-project.isIt { animation: bottomToTopSection 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; }

.project .next-project.isIt a .border-next-project .top-border-next-project { max-width: 45%; transition: all 0.6s ease-in-out; }

.project .next-project.isIt a .border-next-project .side-border-next-project { max-height: 130px; transition: all 0.6s 0.6s ease-in-out; }

.project .next-project.isIt a .border-next-project .bottom-border-next-project { max-width: 50%; transition: all 0.6s 1.2s ease-in-out; }

.project .next-project a { display: block; width: 100%; height: 100%; position: relative; padding: 30px 50px; text-decoration: none; }

.project .next-project a:hover .border-next-project + span::after { width: 60px; }

.project .next-project a:hover .title-next-project { transform: translateY(-15px); }

.project .next-project a .border-next-project { position: absolute; width: 100%; height: 100%; top: 0; left: 0; }

.project .next-project a .border-next-project span { background: #1b313f; position: absolute; }

.project .next-project a .border-next-project .top-border-next-project { top: 40px; height: 2px; width: 45%; max-width: 0; }

.project .next-project a .border-next-project .top-border-next-project:first-child { right: 50%; }

.project .next-project a .border-next-project .top-border-next-project:first-child + span { left: 50%; }

.project .next-project a .border-next-project .side-border-next-project { width: 2px; height: 130px; left: 5%; top: 40px; max-height: 0; }

.project .next-project a .border-next-project .side-border-next-project + .side-border-next-project { left: 95%; }

.project .next-project a .border-next-project .bottom-border-next-project { width: 45%; top: 170px; height: 2px; max-width: 0; }

.project .next-project a .border-next-project .bottom-border-next-project:last-child { right: calc(5% - 2px); }

.project .next-project a .border-next-project .side-border-next-project + .bottom-border-next-project { left: 5%; width: calc(45% + 2px); }

.project .next-project a .border-next-project + span { text-align: center; font-family: "sofia-pro", sans-serif; display: block; color: #1b313f; font-size: 15px; padding: 0 60px; width: 220px; margin: auto; position: relative; }

.project .next-project a .border-next-project + span::after { content: ""; display: block; width: 15px; height: 2px; margin: auto; margin-top: 6px; background: #fff; transition: all 0.6s ease-in-out; }

.project .next-project a .title-next-project { text-align: center; font-size: 30px; font-family: "sofia-pro", sans-serif; color: #1b313f; font-weight: 700; display: block; margin-top: 30px; transition: all 0.4s ease-in-out; }

@keyframes bottomToTopSection { 0% { transform: translateY(30px);
    opacity: 0; }
  100% { transform: translateY(0);
    opacity: 1; } }

@keyframes topToBottomSection { 0% { transform: translateY(0);
    opacity: 1; }
  100% { transform: translateY(30px);
    opacity: 0; } }

@keyframes bottomToTopDiv { 0% { transform: translateY(15px);
    opacity: 0; }
  100% { transform: translateY(0);
    opacity: 1; } }

.project.project-nooke .section-prez h4::after { background: #e2a39a; }

.project.project-nooke .section-main-img { background: #d17373; }

.project.project-nooke .section-credits h5::after { background: #d17373; }

.project.project-sncf .section-prez h4::after { background: #850058; }

.project.project-sncf .section-main-img { background: #850058; }

.project.project-florilege .section-prez h4::after { background: #cea888; }

.project.project-florilege .section-main-img { background: #cea888; }

.about { transition: all 0.8s ease-in-out; opacity: 0; animation: appearAbout 0.6s ease-in-out forwards; }

.about.leave-about { opacity: 1; animation: leaveAbout 0.6s 0.6s ease-in-out forwards; }

.about.leave-about .about-container .about-photo .about-photo-border span:first-child { max-height: 100%; animation: spanLeftLeave 0.3s 0.4s ease-in-out forwards; }

.about.leave-about .about-container .about-photo .about-photo-border span:nth-child(2) { max-width: 100%; animation: spanTopLeave 0.3s 0.4s ease-in-out forwards; }

.about.leave-about .about-container .about-photo .about-photo-border span:nth-child(3) { max-height: 100%; animation: spanRightLeave 0.3s 0.7s ease-in-out forwards; }

.about.leave-about .about-container .about-photo .about-photo-border span:last-child { max-width: 100%; animation: spanBottomLeave 0.3s 0.7s ease-in-out forwards; }

.about.leave-about .about-container .link-text span { max-height: 60px; animation: linkTextLeave 0.2s 0.2s ease-in-out forwards; }

.about.leave-about .about-container .about-content-text { opacity: 1; animation: topToBottomSection 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; }

.about .about-container { width: 60%; margin: auto; padding-top: 50px; }

.about .about-container .about-photo { position: relative; width: 100%; }

.about .about-container .about-photo .about-photo-border { position: absolute; left: -22px; top: -22px; width: 100%; height: 100%; }

.about .about-container .about-photo .about-photo-border span { position: absolute; background: #000; }

.about .about-container .about-photo .about-photo-border span:first-child, .about .about-container .about-photo .about-photo-border span:nth-child(2) { transition: all 0.6s 0.6s ease-in-out; }

.about .about-container .about-photo .about-photo-border span:nth-child(3), .about .about-container .about-photo .about-photo-border span:last-child { transition: all 0.4s 1.2s ease-in-out; }

.about .about-container .about-photo .about-photo-border span:first-child { left: 0; height: 90%; width: 2px; bottom: 0; max-height: 0; animation: spanLeft 0.6s 1.2s ease-in-out forwards; }

.about .about-container .about-photo .about-photo-border span:nth-child(2) { right: 0; height: 2px; width: 90%; top: 0; max-width: 0; animation: spanTop 0.6s 1.2s ease-in-out forwards; }

.about .about-container .about-photo .about-photo-border span:nth-child(3) { right: 0; bottom: 0; width: 2px; height: 100%; max-height: 0; animation: spanRight 0.6s 0.6s ease-in-out forwards; }

.about .about-container .about-photo .about-photo-border span:last-child { bottom: 0; right: 0; width: 100%; height: 2px; max-width: 0; animation: spanBottom 0.6s 0.6s ease-in-out forwards; }

.about .about-container .about-photo h3 { margin: 0; font-family: "sofia-pro", sans-serif, "Arial"; font-weight: 900; font-size: 23px; margin: 0 0 8px 0; background: #fff; padding-right: 30px; color: #0090dc; position: relative; display: inline-block; z-index: 15; opacity: 0; transform: translateY(10px); animation: titleAbout 0.4s 1s ease-in-out forwards; }

.about .about-container .about-photo h3 + div { position: relative; }

.about .about-container .about-photo img { max-width: 100%; vertical-align: bottom; }

.about .about-container .about-photo p { margin: 0; position: absolute; color: #fff; font-size: 70px; font-weight: 100; font-family: "sofia-pro", sans-serif; bottom: 26px; right: 26px; line-height: 1; letter-spacing: 0.08em; }

.about .about-container .link-text { height: 60px; width: 2px; margin: auto; display: block; }

.about .about-container .link-text span { background: #323232; height: 100%; width: 100%; display: block; max-height: 0; animation: linkText 0.4s 1.8s ease-in-out forwards; }

.about .about-container .about-content-text { background: #f8f8f8; width: 100%; padding: 5%; margin-bottom: 100px; opacity: 0; animation: bottomToTopSection 1s 2.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; }

.about .about-container .about-content-text p { margin: 0; }

.about .about-container .about-content-text p.intro { position: relative; font-family: "sofia-pro", sans-serif; font-weight: 700; font-size: 30px; }

.about .about-container .about-content-text p.intro::after { content: ""; width: 30px; display: block; height: 2px; margin: 20px auto 25px; background: #0090dc; }

.about .about-container .about-content-text p.content-text { font-family: "ff-tisa-web-pro"; color: #222222; font-size: 17px; }

.about .about-container .about-content-text .skills { display: flex; margin: 40px 0; justify-content: center; }

.about .about-container .about-content-text .skills span { display: block; width: 40px; height: 40px; border: 2px solid #0090dc; }

.about .about-container .about-content-text .skills span:nth-child(2) { margin: 0 14%; }

.about .about-container .about-content-text .cv-contact { width: 80%; margin: auto; }

.about .about-container .about-content-text .cv-contact div { display: flex; justify-content: space-between; }

.about .about-container .about-content-text .cv-contact div a { width: 43%; text-decoration: none; display: block; font-family: "sofia-pro", sans-serif; text-align: center; font-weight: 700; font-size: 17px; color: #222222; padding: 10px 0; letter-spacing: 0.08em; transition: all 0.4s ease-in-out; }

.about .about-container .about-content-text .cv-contact div a#cv-button { position: relative; }

.about .about-container .about-content-text .cv-contact div a#cv-button::after, .about .about-container .about-content-text .cv-contact div a#cv-button::before { content: ""; position: absolute; bottom: 0; left: 0; width: 100%; height: 2px; background: #222222; transition: all 0.4s ease-in-out; }

.about .about-container .about-content-text .cv-contact div a#cv-button::before { opacity: 0.3; }

.about .about-container .about-content-text .cv-contact div a#cv-button:hover::after { transform: translateY(-46px); }

.about .about-container .about-content-text .cv-contact div a#say-button { border: 2px solid #222222; }

.about .about-container .about-content-text .cv-contact div a#say-button:hover { color: #f8f8f8; background: #222222; }

.about .about-container .about-content-text .cv-contact + p { text-align: center; font-family: "sofia-pro", sans-serif; font-weight: 700; font-size: 14px; margin: 80px 0 0; letter-spacing: 0.08em; }

@keyframes appearAbout { 0% { transform: translateY(-30px);
    opacity: 0; }
  100% { transform: translateY(0);
    opacity: 1; } }

@keyframes titleAbout { 100% { transform: translateY(0);
    opacity: 1; } }

@keyframes spanLeft { 100% { max-height: 100%; } }

@keyframes spanTop { 100% { max-width: 100%; } }

@keyframes spanRight { 100% { max-height: 100%; } }

@keyframes spanBottom { 100% { max-width: 100%; } }

@keyframes linkText { 100% { max-height: 60px; } }

@keyframes leaveAbout { 0% { transform: translateY(0);
    opacity: 1; }
  100% { transform: translateY(-30px);
    opacity: 0; } }

@keyframes titleAboutLeave { 100% { transform: translateY(0);
    opacity: 1; } }

@keyframes spanLeftLeave { 100% { max-height: 0%; } }

@keyframes spanTopLeave { 100% { max-width: 0%; } }

@keyframes spanRightLeave { 100% { max-height: 0%; } }

@keyframes spanBottomLeave { 100% { max-width: 0%; } }

@keyframes linkTextLeave { 100% { max-height: 0px; } }
