#close-project { opacity: 0; }

.diapo-overflow.project-page + #close-project { opacity: 1; position: absolute; z-index: 99; right: 5%; top: 5%; width: 20px; cursor: pointer; height: 20px; transition: all 0.4s ease-in-out; }

.diapo-overflow.project-page + #close-project::before, .diapo-overflow.project-page + #close-project::after { content: ""; position: absolute; background: #fff; height: 100%; width: 2px; border-radius: 2px; top: 0; right: 50%; }

.diapo-overflow.project-page + #close-project::before { transform: rotate(45deg); }

.diapo-overflow.project-page + #close-project::after { transform: rotate(-45deg); }

.diapo-overflow.project-page + #close-project:hover { transform: scale(1.1); }

.project { width: 100%; margin-top: -15%; transition: all 0.4s ease-in-out; }

.project.leave-project { transform: translateY(100px); opacity: 0; }

.project > div { opacity: 0; }

.project .section-prez { width: 60%; margin: auto; background: #fff; padding: 60px 8% 100px 8%; animation: bottomToTopSection 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; }

.project .section-prez h4, .project .section-prez p { text-align: center; margin: 0; }

.project .section-prez h4 { font-family: "sofia-pro", sans-serif; font-weight: 700; font-size: 25px; letter-spacing: 0.08em; color: #1b313f; position: relative; opacity: 0; animation: bottomToTopSection 0.8s 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; }

.project .section-prez h4::after { content: ""; display: block; width: 30px; height: 2px; margin: auto; margin-top: 6px; }

.project .section-prez .project-type { font-family: "sofia-pro", sans-serif; font-weight: 300; color: #1b313f; font-size: 14px; margin: 10px 0 20px; opacity: 0; animation: bottomToTopSection 0.8s 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; }

.project .section-prez .project-description p { text-align: left; font-family: "ff-tisa-web-pro"; color: #1b313f; font-size: 18px; line-height: 1.6; opacity: 0; animation: bottomToTopSection 0.8s 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; }

.project .section-main-img.isIt { animation: bottomToTopSection 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; }

.project .section-main-img img { width: 50%; display: block; margin: auto; }

.project .section-all-img { width: 70%; margin: auto; background: #f5f5f5; opacity: 1; }

.project .section-all-img img { max-width: 100%; display: block; margin: auto; opacity: 0; }

.project .section-all-img img.isIt { animation: bottomToTopSection 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; }

.project .section-credits { width: 60%; margin: auto; padding: 60px 8% 50px 8%; background: #fff; }

.project .section-credits.isIt { animation: bottomToTopSection 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; }

.project .section-credits h5 { font-family: "sofia-pro", sans-serif; font-weight: 700; font-size: 18px; letter-spacing: 0.08em; color: #1b313f; margin: 0 0 30px 0; text-align: center; position: relative; opacity: 0; animation: bottomToTopSection 0.8s 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; }

.project .section-credits h5::after { content: ""; display: block; width: 15px; height: 2px; margin: auto; margin-top: 6px; }

.project .section-credits .credit-da, .project .section-credits .credit-dev { display: flex; flex-grow: 1; }

.project .section-credits .credit-da p, .project .section-credits .credit-dev p { margin: 0; color: #1b313f; font-size: 18px; font-family: "ff-tisa-web-pro"; line-height: 1.6; }

.project .section-credits .credit-da p:last-child, .project .section-credits .credit-dev p:last-child { padding-left: 5px; }

.project .section-credits .project-environment { text-align: center; color: #1b313f; font-size: 18px; line-height: 1.6; margin: 30px 0 35px; font-family: "ff-tisa-web-pro"; }

.project .section-credits .project-link { width: 35%; min-width: 150px; border: 2px solid #222222; color: #222222; font-family: "sofia-pro", sans-serif; text-align: center; display: block; margin: auto; padding: 10px 0; font-weight: 700; font-size: 14px; text-decoration: none; letter-spacing: 0.08em; transition: all 0.4s ease-in-out; }

.project .section-credits .project-link:hover { background: #222222; color: #fff; }

.project .section-credits .project-copyright { text-align: center; font-family: "sofia-pro", sans-serif; font-weight: 700; font-size: 14px; margin: 30px 0; letter-spacing: 0.08em; }

.project .next-project { width: 100%; height: 200px; }

.project .next-project.isIt { animation: bottomToTopSection 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; }

.project .next-project.isIt a .border-next-project .top-border-next-project { max-width: 45%; transition: all 0.6s ease-in-out; }

.project .next-project.isIt a .border-next-project .side-border-next-project { max-height: 130px; transition: all 0.6s 0.6s ease-in-out; }

.project .next-project.isIt a .border-next-project .bottom-border-next-project { max-width: 50%; transition: all 0.6s 1.2s ease-in-out; }

.project .next-project a { display: block; width: 100%; height: 100%; position: relative; padding: 30px 50px; text-decoration: none; }

.project .next-project a:hover .border-next-project + span::after { width: 60px; }

.project .next-project a:hover .title-next-project { transform: translateY(-15px); }

.project .next-project a .border-next-project { position: absolute; width: 100%; height: 100%; top: 0; left: 0; }

.project .next-project a .border-next-project span { background: #1b313f; position: absolute; }

.project .next-project a .border-next-project .top-border-next-project { top: 40px; height: 2px; width: 45%; max-width: 0; }

.project .next-project a .border-next-project .top-border-next-project:first-child { right: 50%; }

.project .next-project a .border-next-project .top-border-next-project:first-child + span { left: 50%; }

.project .next-project a .border-next-project .side-border-next-project { width: 2px; height: 130px; left: 5%; top: 40px; max-height: 0; }

.project .next-project a .border-next-project .side-border-next-project + .side-border-next-project { left: 95%; }

.project .next-project a .border-next-project .bottom-border-next-project { width: 45%; top: 170px; height: 2px; max-width: 0; }

.project .next-project a .border-next-project .bottom-border-next-project:last-child { right: calc(5% - 2px); }

.project .next-project a .border-next-project .side-border-next-project + .bottom-border-next-project { left: 5%; width: calc(45% + 2px); }

.project .next-project a .border-next-project + span { text-align: center; font-family: "sofia-pro", sans-serif; display: block; color: #1b313f; font-size: 15px; padding: 0 60px; width: 220px; margin: auto; position: relative; }

.project .next-project a .border-next-project + span::after { content: ""; display: block; width: 15px; height: 2px; margin: auto; margin-top: 6px; background: #fff; transition: all 0.6s ease-in-out; }

.project .next-project a .title-next-project { text-align: center; font-size: 30px; font-family: "sofia-pro", sans-serif; color: #1b313f; font-weight: 700; display: block; margin-top: 30px; transition: all 0.4s ease-in-out; }

@keyframes bottomToTopSection { 0% { transform: translateY(30px);
    opacity: 0; }
  100% { transform: translateY(0);
    opacity: 1; } }

@keyframes bottomToTopDiv { 0% { transform: translateY(15px);
    opacity: 0; }
  100% { transform: translateY(0);
    opacity: 1; } }

.project.project-nooke .section-prez h4::after { background: #e2a39a; }

.project.project-nooke .section-main-img { background: #d17373; }

.project.project-nooke .section-credits h5::after { background: #d17373; }

.project.project-sncf .section-prez h4::after { background: #850058; }

.project.project-sncf .section-main-img { background: #850058; }

.project.project-florilege .section-prez h4::after { background: #cea888; }

.project.project-florilege .section-main-img { background: #cea888; }
