.project { width: 100%; margin-top: -15%; }

.project > div { opacity: 0; }

.project .section-prez { width: 60%; margin: auto; background: #fff; padding: 60px 8% 100px 8%; animation: bottomToTopSection 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; }

.project .section-prez h4, .project .section-prez p { text-align: center; margin: 0; }

.project .section-prez h4 { font-family: "sofia-pro", sans-serif; font-weight: 700; font-size: 25px; letter-spacing: 0.08em; color: #1b313f; position: relative; opacity: 0; animation: bottomToTopSection 0.8s 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; }

.project .section-prez h4::after { content: ""; display: block; width: 30px; height: 2px; margin: auto; margin-top: 6px; }

.project .section-prez .project-type { font-family: "sofia-pro", sans-serif; font-weight: 300; color: #1b313f; font-size: 14px; margin: 10px 0 20px; opacity: 0; animation: bottomToTopSection 0.8s 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; }

.project .section-prez .project-description p { text-align: left; color: #1b313f; font-size: 18px; line-height: 1.6; opacity: 0; animation: bottomToTopSection 0.8s 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; }

.project .section-main-img { animation: bottomToTopSection 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; }

.project .section-main-img img { width: 50%; display: block; margin: auto; }

.project .section-all-img { animation: bottomToTopSection 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; }

@keyframes bottomToTopSection { 0% { transform: translateY(30px);
    opacity: 0; }
  100% { transform: translateY(0);
    opacity: 1; } }

@keyframes bottomToTopDiv { 0% { transform: translateY(15px);
    opacity: 0; }
  100% { transform: translateY(0);
    opacity: 1; } }

.project.project-nooke .section-prez h4::after { background: #e2a39a; }

.project.project-nooke .section-main-img { background: #d17373; }

.project.project-sncf .section-prez h4::after { background: #850058; }

.project.project-sncf .section-main-img { background: #850058; }

.project.project-florilege .section-prez h4::after { background: #cea888; }

.project.project-florilege .section-main-img { background: #cea888; }
