* { box-sizing: border-box; }

body { margin: 0; height: 100%; width: 100%; }

p, h1 { margin: 0; }

/* HEADER */
#header { width: 100%; position: relative; }

#header .close-menu { width: 100%; display: flex; align-items: center; justify-content: space-between; padding: 15px 0; position: relative; z-index: 5; }

#header .close-menu > div:first-child, #header .close-menu > div:last-child { width: 30%; min-width: 310px; }

#header .close-menu > div:first-child { text-align: left; padding-left: 10%; }

#header .close-menu > div:first-child h1, #header .close-menu > div:first-child > span { display: inline-block; vertical-align: middle; }

#header .close-menu > div:first-child > span { width: 30px; height: 21px; position: relative; cursor: pointer; margin-right: 15px; }

#header .close-menu > div:first-child > span span { width: 100%; height: 3px; background: #000; display: block; position: absolute; left: 0; }

#header .close-menu > div:first-child > span span:nth-child(1) { transition: all 0.4s 0.2s ease-in-out; }

#header .close-menu > div:first-child > span span:nth-child(2) { transition: all 0.4s 0.4s ease-in-out; }

#header .close-menu > div:first-child > span span:nth-child(3) { transition: all 0.4s 0.6s ease-in-out; }

#header .close-menu > div:first-child > span span:first-child { top: 0; }

#header .close-menu > div:first-child > span span:first-child + span { top: 9px; }

#header .close-menu > div:first-child > span span:last-child { bottom: 0; }

#header .close-menu > div:first-child > span:hover span { transform: scale(1.1); }

#header .close-menu > div:last-child { text-align: right; padding-right: 10%; }

#header .close-menu > div h1 { font-size: 20px; line-height: 1; }

#header .close-menu > div p { font-size: 20px; }

#header .close-menu > div h1, #header .close-menu > div p { font-weight: 700; }

#header .close-menu > div#logo a { max-width: 150px; min-width: 50px; width: 30%; display: block; }

#header .close-menu > div#logo a img { max-width: 100%; }

#header .open-menu { opacity: 0; transform: translateY(-100px); position: absolute; top: 0; left: 0; width: 100%; z-index: 10; transition: all 0.4s 1s ease-in-out; background: #fff; height: 100%; }

#header .open-menu > div { height: 100%; display: flex; align-items: center; padding-left: 10%; }

#header .open-menu #burger-menu-close, #header .open-menu ul { display: inline-block; vertical-align: middle; }

#header .open-menu #burger-menu-close { margin-right: 15px; height: 21px; width: 30px; position: relative; cursor: pointer; }

#header .open-menu #burger-menu-close span { position: absolute; width: 100%; height: 3px; background: #000; top: 50%; }

#header .open-menu #burger-menu-close span:first-child { transform: rotate(45deg); left: 0; }

#header .open-menu #burger-menu-close span:last-child { transform: rotate(-45deg); right: 0; }

#header .open-menu ul { padding: 0; margin: 0; width: 100%; }

#header .open-menu ul li { display: inline-block; vertical-align: middle; list-style-type: none; margin-right: 8%; }

#header .open-menu ul li:last-child { margin: 0; }

#header .open-menu ul li a { text-decoration: none; color: #000; font-family: "sofia-pro", sans-serif; font-size: 20px; font-weight: 700; transform: translateY(-15px); opacity: 0; display: block; }

#header .open-menu ul li:nth-child(1) a { transition: all 0.4s 0.2s ease-in-out; }

#header .open-menu ul li:nth-child(2) a { transition: all 0.4s 0.4s ease-in-out; }

#header .open-menu ul li:nth-child(3) a { transition: all 0.4s 0.6s ease-in-out; }

#header .open-menu ul li:nth-child(4) a { transition: all 0.4s 0.8s ease-in-out; }

#header.active .open-menu { opacity: 1; transform: translateY(0); transition: all 0.4s ease-in-out; }

#header.active .open-menu ul li a { transform: translateY(0); opacity: 1; }
